{% extends 'a.html' %}

{% block content %}
  <br/><br/><br/><br/><br/><br/>
   <h2>Liste des Equipes</h2>
   <a href="{% url 'ajout_equipe' %}" class="btn btn-primary">Ajouter une équipe </a>
  {% if equipes %}
    <div class="row">
      {% for equipe in equipes %}
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title">{{ equipe.nom }}</h3>
              <p class="card-text">{{ equipe.description }}</p>
              <p class="card-text">{{ equipe.personnel }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'modifierEquipe' equipe.id %}" class="btn btn-sm btn-outline-secondary">Modifier</a>
                  <a href="{% url 'supprimerEquipe' equipe.id %}" class="btn btn-sm btn-outline-secondary">Supprimer</a>
                  <a href="{% url 'detailEquipe' equipe.id %}" class="btn btn-sm btn-outline-secondary">Détail</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Aucune equipe n'a été ajouté pour le moment.</p>
  {% endif %}
{% endblock %}

