{% extends 'a.html' %}

{% block content %}
<br/><br/><br/><br/>
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h2 class="mb-0">{{ projet.nom }}</h2>
        </div>
        <div class="card-body">
          <img src="{{ projet.image.url }}" alt="{{ projet.nom }}" class="img-fluid mb-3">
          <p class="lead">{{ projet.description }}</p>
          <p>{{ projet.temoignage }}</p>
        </div>
        <div>
            <a href="{% url 'modifierProjet' projet.id %}" class="btn btn-primary mr-2">Modifier</a>
            <a href="{% url 'supprimerProjet' projet.id %}" class="btn btn-danger">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
