{% extends 'a.html' %}

{% block content %}
<br/><br/><br/><br/>
<div class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h2 class="mb-0">Modification de projet</h2>
        </div>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block styles %}
<style>
  .card {
    border-radius: 20px;
  }
  
  .card-header {
    border-radius: 20px 20px 0 0;
  }
  
  .table th {
    background-color: #3366ff;
    color: white;
  }
  
  .btn-primary {
    background-color: #3366ff;
    border-color: #3366ff;
  }
  
  .btn-primary:hover {
    background-color: #2044b7;
    border-color: #2044b7;
  }
  </style>
  {% endblock %}
  