{% extends 'a.html' %}
{% block content %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <h1 class="masthead-heading text-uppercase mb-0">Welcome To </h1> <br/><br/>
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">ArtyProd</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Charte graphique – Objet 3D – Scénarisation</p>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">           
            
            <div class="text-center mt-4">
                <a class="btn btn-xl " href=" {% url 'listeProjets' %}">
                    Liste projet
                </a>
                <a class="btn btn-xl " href=" {% url 'ajoutProjet' %}">
                    Ajouter un projet
                </a>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-secondary text-white mb-0" id="Services">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Services</h2><br/><br/><br/>
        <!-- Icon Divider-->
        <div class="row justify-content-center">
            
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                            <p><strong>Charte graphique</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                            <p><strong>Objet 3D</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                            <p><strong>Scénarisation</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Équipe</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">.</div>
            <div class="col-lg-4 me-auto"><p class="lead"></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="{% url 'listeEquipe' %}">
                Liste Equipe
            </a>
            <a class="btn btn-xl btn-outline-light" href="{% url 'ajout_equipe' %}">
                Ajouter Une Equipe
            </a>
        </div>
    </div>
</section>
<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Contact Us</h2>
                <div class="text-center mt-4">
                    <a class="btn btn-xl" href="{% url 'contact' %}">
                        ajouter un contact
                    </a>
                </div>                
            </div>
        </div>
    </div>
</section>

{%endblock%}